<?php

// To configure this file, create an app here: https://apps.twitter.com/app/new
// You will need to set your application's access level to Read and Write BEFORE
// you generate your access tokens.

$config = array(
    'cache_dir' => __DIR__ . '/cache',
    'base_url' => '',
    'api_key' => '',
    'api_secret' => '',
    'access_token' => '',
    'access_token_secret' => '',
    'recpatcha_public_key' => '',
    'recaptcha_private_key' => '',
);
