<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="http://fast.fonts.net/jsapi/75897bcf-3de2-45e6-b3d6-abb1d6062124.js"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}Content goes here!{% endblock %}
        </div>
        <div id="nav">
            {% block nav %}<a href="{{ base_url }}/submit">Submit a Tweet</a>{% endblock %}
        </div>
    </body>
</html>