<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        <div id="content">
            {% block content %}Content goes here!{% endblock %}
        </div>
    </body>
</html>