{% extends 'layout.twig' %}

{% block title %}Wall{% endblock %}

{% block content %}
<div id="tweet">
    <div id="tweet-text"></div>
    <div id="tweet-time"></div>
</div>
{% endblock %}

{% block nav %}{% endblock %}